.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/release/
android/app/debug/
android/app/profile/
ios/
linux/
macos/
windows/
web/
*.lock
.DS_Store
